{% extends "layout.html" %}
{% block content %}
<h1> Dashboard </h1>
<h2> Message </h1>
    {% if message %}
    {{ message }}
    {% endif %}
{% if not message %}
<h2> RISK levels </h2>
<ul>
    {% for key, val in risk_hist.iteritems()%}
    <li> {{key}} : {{ val }} </li>
    {% endfor %}
</ul>

<h2> ALERT counts</h2>
<ul>
    {% for alert in alerts %}
    <li>{{ alert }}</li>
    {% endfor %}
</ul>

<h2> TOP10 Vulnerable uris </h2>
<ul>
    {% for dict in top10_uris %}
    <li>{{ dict }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}
